@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700%27');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');



* {
    box-sizing: border-box;
    background-color: black;
    color: antiquewhite;
    margin:0;
    padding:0;
    font-family: 'Roboto Mono';
}


/*header {
  background-image: url(images/eye.png);
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
header h1 {
  font-size: 5em;
  text-align: center;
}*/


#div-grid {
  border: 1px solid black;
  width: 502px;
  height: 502px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  align-self: center;
  z-index: 1;
  position:relative;
}

#div-lives{
  position: fixed;
  display: flex;
  gap: .5rem;
  left: 55vw;
  top: 5vh;
  z-index: 5;
  background: transparent;
}

.lives{
  width:30px;
  height:30px;
  background-position: center;
  background-size: cover;
  background-color: inherit;
}
.life {
background-image: url(./images/heart.png);
}
.no-life {
  background-image: url(./images/no-heart.png);
}

#div-intro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size:1.2em;
}

#div-tryagain {
  position: absolute;
  z-index: 3;
  align-self: center;
}

#div-intro h1,
#div-tryagain h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding-bottom: 150px;
  text-shadow: 2px 4px 1px black;}

#div-tryagain h1{
  margin:30px;
} 

#div-intro p,
#div-tryagain p {
  margin:10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.cell {
  /*border: 1px solid red;*/
  width: 50px;
  height: 50px;
  background-color: sandybrown;
}

.player {
  background: red;
}

.exit {
  background: greenyellow ;
}

#middle {
  display: flex;
  justify-content:space-between;
  height:100vh;
}

#instructions, #instructions * {
  background-color: darkslategrey;
  color:black;
}


#instructions, #levels {
  width: 25vw ;
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

#levels{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#instructions h2 {
  color: whitesmoke;
}

#instructions p {
  line-height: 1.5;
  padding-top:10px;
  color: whitesmoke;
}
#commands {
  display: flex;
  justify-content: center;
}
#commands img {
  width: 100%;
  height: 100%;
  padding-top:20px;
}

#player-logo{
  background: red;
  width: 60px;
  height: 30px;
}

#exit-logo{
  background: greenyellow;
  width: 60px;
  height: 30px;
}

#right-box, #right-box * {
  background-color: brown;
  color:black;
}

#right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  justify-items: flex-start;
  align-items: center;
}



#levels ol {
  list-style: none;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

#levels ol li {
  padding: 15px
}

li.level.frame {
  border:4px double whitesmoke;
}


h2 {
  text-align: center;
  margin: 30px 0px 10px 0px;
}

.obstacle {
  background-color: saddlebrown;
  border: 0.5px solid sienna;
}

.hidden {
  background-color: black;
}

.obstacle.hidden{
  border:none;
}

.no-display,
#div-grid.no-display,
#div-intro.no-display,
#div-tryagain.no-display {
  display: none;
}

#btn-startgame,
#btn-tryagain{
  padding:15px 20px;
  border-radius: 35%;
  font-family: 'Press Start 2P';
  color: crimson;
  border: 8px double crimson;
}
#btn-startgame:hover,
#btn-tryagain:hover {
  padding:15px 20px;
  margin:-2px -2px;
  color: #ff0033;
  border: 10px double #ff0033;
}

#btn-tryagain.winner{
  padding:15px 20px;
  border-radius: 35%;
  font-family: 'Press Start 2P';
  color: lightseagreen;
  border: 8px double lightseagreen;
}
#btn-tryagain.winner:hover {
  padding:15px 20px;
  margin:-2px -2px;
  color: lightblue;
  border: 10px double lightblue;
}

#btn-nextLvl{
  padding:15px 20px;
  border-radius: 35%;
  font-family: 'Press Start 2P';
  color: black;
  border: 8px double black;
  background: darkgray;
}
#btn-nextLvl:hover {
  padding:15px 20px;
  margin:-2px -2px;
  color: black;
  border: 10px double black;
  background:lightgrey;
}

/* #btn-playagain{
  padding:15px 20px;
  border-radius: 35%;
  font-family: 'Press Start 2P';
  color: darkslategray;
  border: 8px double darkslategrey;
}
#btn-playagain:hover {
  padding:15px 20px;
  margin:-2px -2px;
  color: #ff0033;
  border: 10px double #ff0033;
} */

/* #timer span {
  font-family: "Press Start 2P";
  text-shadow: 0px 0px 50px white, 0 0 1em white, 0 0 0.2em white;} */